@mixin flexContainer($flexDirection, $justifyContent, $alignItems, $wrap, $gap:0) {
    display:flex;
    flex-direction: #{$flexDirection};
    justify-content: #{$justifyContent};
    align-items: #{$alignItems};
    flex-wrap: #{$wrap};
    gap: $gap
}

@mixin animation($duration, $delay:0, $position, $name) {


        animation-name: $name;
        animation-timing-function: ease-out;
        animation-duration: #{$duration} + s;
        animation-delay: #{$delay} + s;    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top:6rem;

    }
    100% {
        opacity: 1;
        top: $position;

    }
}


@mixin fontProperties($size, $weight, $lineHeight) {
    font-size: $size + rem;
    font-weight: $weight;
    line-height: $lineHeight;
}