$spacing-xl: 3rem;
$spacing-lg: 2.25rem;
$spacing-md: 1.5rem;
$spacing-sm: 0.75rem;
$bgColor: #640fc5;
$fontColor: #f4f4f4;
$verticalMargin: 1.5rem 0;
$buttonColor_01: #0E6CFF;
$buttonColor_02: #FF8700;
$buttonColor_03: #4CAF50;