.button-container {
    @include flexContainer(row, flex-start, center, nowrap, 0.75rem);
  }
  
  .button-container button {
    padding: $spacing-sm;
    flex: 0 0 25%;
    color: white;
    border-radius: $spacing-sm;
  }
  
  .button-container :nth-child(1) {
    background-color: $buttonColor_01;
  }
  
  .button-container :nth-child(2) {
    background-color: $buttonColor_02;
  }
  .button-container :nth-child(3) {
    background-color: $buttonColor_03;
  }
  