body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $fontColor;
    font-size: 1.5rem;
}

h1 {
    font-size: 5rem;
    margin: $verticalMargin;
}

p {
    margin: $verticalMargin
}