body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $fontColor;
    font-size: 1.5rem;
}

h1 {
    @include fontProperties(5, bold, 1.2);
    margin: $spacing-md 0;
}

p {
    margin: $spacing-md 0;
}